<a id='top'></a>
# Pandas Dates
* [DatetimeIndex and resample()](#datetimeindex)
* [date_range](#daterange)
* [to_datetime](#todatetime)
* [Period and PeriodIndex](#period)
* [Shifting](#shifting)

<a id='datetimeindex'></a>
### DatetimeIndex and resample()
[Back to top](#top)

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('sampleData2.csv',parse_dates=['Date'],index_col='Date')

df.head()

,Month,Year,Customer ID,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product,Frame Size,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
Date,,,,,,,,,,,,,,,,,,
2013-11-26,November,2013,11019,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8,45,120,360,950,590
2015-11-26,November,2015,11019,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8,45,120,360,950,590
2014-03-23,March,2014,11039,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,23,45,120,1035,2401,1366
2016-03-23,March,2016,11039,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,20,45,120,900,2088,1188
2014-05-15,May,2014,11046,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,4,45,120,180,418,238

In [7]:
print('Data type of the index:',type(df.index))

Data type of the index: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [18]:
print('Sales Data in 2016')

df['2016']

Sales Data in 2016

,Month,Year,Customer ID,Customer Age,Age Group,Customer Gender,Country,State,Product Category,Sub Category,Product,Frame Size,Order Quantity,Unit Cost,Unit Price,Cost,Revenue,Profit
Date,,,,,,,,,,,,,,,,,,
2016-03-23,March,2016,11039,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,20,45,120,900,2088,1188
2016-05-15,May,2016,11046,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,5,45,120,225,522,297
2016-05-22,May,2016,11047,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,2,45,120,90,190,100
2016-02-22,February,2016,11094,35,Adults (35-64),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,21,45,120,945,1991,1046
2016-01-22,January,2016,11176,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,1,45,120,45,119,74
2016-05-17,May,2016,11176,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,8,45,120,360,950,590
2016-03-27,March,2016,11196,51,Adults (35-64),M,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,7,45,120,315,722,407
2016-01-02,January,2016,11211,48,Adults (35-64),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,4,45,120,180,475,295
2016-03-13,March,2016,11211,48,Adults (35-64),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,22,45,120,990,2614,1624
2016-05-23,May,2016,11215,47,Adults (35-64),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,23,45,120,1035,2732,1697
2016-03-31,March,2016,11295,43,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,11,45,120,495,1294,799
2016-06-19,June,2016,11711,35,Adults (35-64),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,12,45,120,540,1426,886
2016-03-04,March,2016,11733,38,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,3,45,120,135,353,218
2016-05-30,May,2016,11733,38,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,2,45,120,90,235,145
2016-06-28,June,2016,11733,38,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,7,45,120,315,823,508
2016-07-10,July,2016,11733,38,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,12,45,120,540,1411,871
2016-03-12,March,2016,12037,54,Adults (35-64),F,Australia,Queensland,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,6,45,120,270,605,335
2016-03-26,March,2016,12111,47,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,4,45,120,180,470,290
2016-05-04,May,2016,12111,47,Adults (35-64),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,16,45,120,720,1882,1162
2016-02-04,February,2016,12117,46,Adults (35-64),M,United States,Washington,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,3,45,120,135,281,146
2016-02-12,February,2016,12119,46,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,27,45,120,1215,3175,1960
2016-05-17,May,2016,12119,46,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,2,45,120,90,235,145
2016-05-11,May,2016,12146,32,Young Adults (25-34),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,27,45,120,1215,3175,1960
2016-05-16,May,2016,12147,33,Young Adults (25-34),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,15,45,120,675,1782,1107
2016-05-23,May,2016,12175,42,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,3,45,120,135,353,218
2016-01-02,January,2016,12371,34,Young Adults (25-34),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,3,45,120,135,313,178
2016-05-10,May,2016,12409,22,Youth (<25),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,1,45,120,45,118,73
2016-04-27,April,2016,12412,67,Seniors (64+),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,1,45,120,45,118,73
2016-07-28,July,2016,12606,37,Adults (35-64),M,France,Nord,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,3,45,120,135,313,178
2016-04-13,April,2016,12692,26,Young Adults (25-34),M,Australia,Queensland,Accessories,Bike Racks,Hitch Rack - 4-Bike,NaN,7,45,120,315,706,391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-21,April,2016,26046,41,Adults (35-64),F,United States,California,Clothing,Vests,"Classic Vest, L",NaN,6,24,64,144,376,232
2016-05-23,May,2016,26422,22,Youth (<25),M,Australia,Victoria,Clothing,Vests,"Classic Vest, S",NaN,6,24,64,144,303,159
2016-07-01,July,2016,26528,44,Adults (35-64),M,United States,Washington,Clothing,Vests,"Classic Vest, L",NaN,9,24,64,216,449,233
2016-02-06,February,2016,27379,50,Adults (35-64),F,United States,California,Clothing,Vests,"Classic Vest, S",NaN,7,24,64,168,439,271
2016-02-16,February,2016,27396,54,Adults (35-64),M,United States,Washington,Clothing,Vests,"Classic Vest, S",NaN,10,24,64,240,499,259
2016-04-27,April,2016,27455,29,Young Adults (25-34),F,United States,Oregon,Clothing,Vests,"Classic Vest, L",NaN,1,24,64,24,55,31
2016-06-28,June,2016,27471,49,Adults (35-64),F,Australia,South Australia,Clothing,Vests,"Classic Vest, L",NaN,13,24,64,312,682,370
2016-03-08,March,2016,27691,30,Young Adults (25-34),M,Australia,New South Wales,Clothing,Vests,"Classic Vest, S",NaN,15,24,64,360,835,475
2016-03-04,March,2016,27692,30,Young Adults (25-34),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",NaN,10,24,64,240,538,298
2016-03-25,March,2016,27692,30,Young Adults (25-34),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",NaN,13,24,64,312,699,387
2016-04-02,April,2016,27711,34,Young Adults (25-34),F,Australia,Victoria,Clothing,Vests,"Classic Vest, S",NaN,18,24,64,432,910,478
2016-05-26,May,2016,27728,60,Adults (35-64),F,Australia,Queensland,Clothing,Vests,"Classic Vest, M",NaN,3,24,64,72,161,89
2016-02-12,February,2016,27879,20,Youth (<25),M,Australia,Victoria,Clothing,Vests,"Classic Vest, M",NaN,11,24,64,264,556,292
2016-02-10,February,2016,27932,42,Adults (35-64),F,Germany,Hamburg,Clothing,Vests,"Classic Vest, M",NaN,24,24,64,576,1428,852
2016-05-05,May,2016,27982,25,Young Adults (25-34),M,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",NaN,14,24,64,336,780,444
2016-01-24,January,2016,28059,44,Adults (35-64),M,United States,California,Clothing,Vests,"Classic Vest, L",NaN,14,24,64,336,878,542
2016-03-25,March,2016,28348,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",NaN,10,24,64,240,557,317
2016-04-06,April,2016,28348,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",NaN,22,24,64,528,1225,697
2016-07-27,July,2016,28406,34,Young Adults (25-34),M,France,Essonne,Clothing,Vests,"Classic Vest, M",NaN,7,24,64,168,430,262
2016-05-23,May,2016,28428,20,Youth (<25),F,United Kingdom,England,Clothing,Vests,"Classic Vest, M",NaN,15,24,64,360,922,562
2016-05-03,May,2016,28436,21,Youth (<25),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",NaN,3,24,64,72,184,112
2016-03-28,March,2016,28522,28,Young Adults (25-34),F,Germany,Saarland,Clothing,Vests,"Classic Vest, L",NaN,5,24,64,120,262,142
2016-01-18,January,2016,28534,32,Young Adults (25-34),F,Australia,Victoria,Clothing,Vests,"Classic Vest, M",NaN,29,24,64,696,1466,770
2016-04-10,April,2016,28563,25,Young Adults (25-34),M,Germany,Hamburg,Clothing,Vests,"Classic Vest, S",NaN,28,24,64,672,1667,995
2016-07-30,July,2016,29216,33,Young Adults (25-34),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",NaN,10,24,64,240,550,310
2016-03-20,March,2016,29238,34,Young Adults (25-34),M,United States,California,Clothing,Vests,"Classic Vest, S",NaN,26,24,64,624,1631,1007
2016-04-03,April,2016,29238,34,Young Adults (25-34),M,United States,California,Clothing,Vests,"Classic Vest, S",NaN,14,24,64,336,878,542
2016-04-12,April,2016,29443,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",NaN,3,24,64,72,184,112
2016-04-02,April,2016,29462,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",NaN,22,24,64,528,1183,655
2016-03-04,March,2016,29472,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",NaN,23,24,64,552,1207,655

In [21]:
print('Revenue in October 2015')

df['2015-10'].Revenue.head(10)

Revenue in October 2015

Date
2015-10-25    1058
2015-10-14     936
2015-10-27      95
2015-10-09    1253
2015-10-25    1058
2015-10-18     823
2015-10-10      94
2015-10-21     115
2015-10-23     202
2015-10-01     115
Name: Revenue, dtype: int64

In [32]:
print('Revenue,Cost and Profit from 2015 to 2016')

df['2015':'2016'][['Revenue','Cost','Profit']].sum()

Revenue,Cost and Profit from 2015 to 2016

Revenue    37737376
Cost       23172865
Profit     14564511
dtype: int64

In [36]:
print('Using resample(): Monthly Revenue,Cost and Profit')

df[['Revenue','Cost','Profit']].resample('A').sum()

Using resample(): Monthly Revenue,Cost and Profit

             Revenue      Cost   Profit
Date
2011-12-31   8964888   6083587  2881301
2012-12-31   9175983   6223990  2951993
2013-12-31  15240037   9280829  5959208
2014-12-31  14152724   8288637  5864087
2015-12-31  20023991  12495428  7528563
2016-12-31  17713385  10677437  7035948

In [49]:
print('Monthly Sales from different Countries:')

df.pivot_table(index='Date',columns='Country',values='Revenue',aggfunc='sum').resample('M').sum()

Monthly Sales from different Countries:

Country,Australia,Canada,France,Germany,United Kingdom,United States
Date,,,,,,
2011-01-31,190047.0,49862.0,56214.0,27540.0,63695.0,287835.0
2011-02-28,174420.0,178808.0,51723.0,74278.0,54823.0,103546.0
2011-03-31,212636.0,34907.0,65294.0,62420.0,27873.0,305387.0
2011-04-30,216458.0,69974.0,39840.0,73888.0,34681.0,263941.0
2011-05-31,207511.0,44104.0,56332.0,53167.0,30901.0,342522.0
2011-06-30,133726.0,64779.0,52120.0,64156.0,49041.0,294316.0
2011-07-31,188173.0,114476.0,78826.0,68704.0,76485.0,355555.0
2011-08-31,193865.0,97734.0,91804.0,60296.0,112357.0,323981.0
2011-09-30,216962.0,40633.0,108268.0,73739.0,81439.0,164713.0
2011-10-31,302368.0,33788.0,98701.0,45758.0,64962.0,151372.0
2011-11-30,159115.0,16181.0,46984.0,98681.0,75173.0,178364.0
2011-12-31,334633.0,44552.0,200518.0,130976.0,152051.0,269936.0
2012-01-31,203637.0,53160.0,56973.0,22476.0,72178.0,263271.0
2012-02-29,157293.0,200922.0,54502.0,54567.0,53541.0,121832.0
2012-03-31,230544.0,30014.0,67022.0,69567.0,30582.0,313095.0
2012-04-30,206825.0,72724.0,54740.0,75361.0,41214.0,280141.0
2012-05-31,187741.0,38299.0,76078.0,61938.0,24385.0,377219.0
2012-06-30,149420.0,81336.0,55213.0,68072.0,36250.0,301580.0
2012-07-31,211255.0,87023.0,86921.0,67668.0,73510.0,336907.0
2012-08-31,209419.0,121603.0,89203.0,66090.0,105529.0,335660.0
2012-09-30,222628.0,46190.0,106759.0,81741.0,78063.0,166582.0
2012-10-31,286982.0,33142.0,91788.0,55700.0,89843.0,170463.0
2012-11-30,150017.0,19586.0,45120.0,93911.0,85213.0,207654.0
2012-12-31,341750.0,51528.0,177834.0,118097.0,144577.0,276315.0
2013-01-31,160526.0,14603.0,42951.0,40305.0,54167.0,122511.0
2013-02-28,188891.0,20379.0,47066.0,61145.0,56016.0,111908.0
2013-03-31,162772.0,32258.0,61642.0,45426.0,66943.0,97899.0
2013-04-30,165112.0,12082.0,59989.0,62710.0,42479.0,134533.0
2013-05-31,193318.0,40959.0,58104.0,62056.0,68973.0,166279.0
2013-06-30,172091.0,7257.0,83880.0,58874.0,59075.0,152922.0
...,...,...,...,...,...,...
2014-02-28,413472.0,177318.0,230193.0,202256.0,275621.0,646627.0
2014-03-31,396431.0,186283.0,215616.0,270212.0,335103.0,704567.0
2014-04-30,404532.0,240527.0,239321.0,280458.0,315325.0,724423.0
2014-05-31,483275.0,247111.0,247056.0,336820.0,328996.0,944233.0
2014-06-30,606140.0,269192.0,264366.0,329087.0,416701.0,900634.0
2014-07-31,83617.0,117222.0,39101.0,52594.0,52273.0,172080.0
2014-08-31,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-30,0.0,0.0,0.0,0.0,0.0,0.0
2014-10-31,0.0,0.0,0.0,0.0,0.0,0.0
2014-11-30,0.0,0.0,0.0,0.0,0.0,0.0
2014-12-31,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-31,249053.0,22982.0,66981.0,63798.0,92527.0,171597.0
2015-02-28,280373.0,29011.0,68134.0,85239.0,73290.0,143199.0
2015-03-31,250574.0,50951.0,104228.0,71347.0,89935.0,146973.0
2015-04-30,261623.0,15129.0,89065.0,105604.0,65777.0,197410.0
2015-05-31,303486.0,61192.0,70400.0,97505.0,112362.0,250098.0
2015-06-30,264312.0,12094.0,108561.0,94504.0,75728.0,231281.0
2015-07-31,548532.0,87498.0,157111.0,223258.0,238609.0,473390.0
2015-08-31,454392.0,256797.0,210855.0,191591.0,254379.0,772567.0
2015-09-30,689707.0,263613.0,229138.0,218129.0,295120.0,769465.0
2015-10-31,767238.0,219069.0,162782.0,225004.0,328608.0,826383.0
2015-11-30,778165.0,296505.0,218408.0,212812.0,343957.0,986375.0
2015-12-31,864884.0,417113.0,392265.0,342300.0,513889.0,1317760.0
2016-01-31,532517.0,278260.0,234343.0,307100.0,382090.0,818755.0
2016-02-29,539447.0,193172.0,292450.0,258911.0,371190.0,789020.0
2016-03-31,495226.0,203199.0,279334.0,337445.0,434594.0,858865.0
2016-04-30,517301.0,283410.0,302907.0,357867.0,398398.0,896981.0
2016-05-31,636454.0,279724.0,333204.0,466665.0,418212.0,1130084.0
2016-06-30,790151.0,311009.0,323841.0,443368.0,566254.0,1151677.0
2016-07-31,80887.0,114626.0,37118.0,52146.0,50071.0,165112.0

<a id='daterange'></a>
### date_range
[Back to top](#top)

In [69]:
date = pd.date_range(start=pd.datetime.today().date(),periods=10,freq='W')
df = pd.DataFrame(np.random.randint(1,101,(10,2)),index=date,columns=['Column 1','Column 2'])
df

            Column 1  Column 2
2020-07-26        49        97
2020-08-02        97        82
2020-08-09        99        36
2020-08-16        33        30
2020-08-23        21        58
2020-08-30        94        23
2020-09-06        79        93
2020-09-13        81        51
2020-09-20        54        51
2020-09-27        56        61

<a id='todatetime'></a>
### to_datetime
[Back to top](#top)

In [5]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [9]:
print('Converting date with format Day/Month/Year:')
pd.to_datetime('5/1/2017',dayfirst=True)

Converting date with format Day/Month/Year:

Timestamp('2017-01-05 00:00:00')

In [14]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abc']

print('Handling errors in conversion:\n')
print(dates)

pd.to_datetime(dates)

Handling errors in conversion:

['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05', '20170105', 'abc']

ValueError: ('Unknown string format:', 'abc')

In [16]:
pd.to_datetime(dates,errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT'],
              dtype='datetime64[ns]', freq=None)

In [18]:
pd.to_datetime(dates,errors='ignore')

Index(['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05',
       '20170105', 'abc'],
      dtype='object')

<a id='period'></a>
### Period and PeriodIndex
[Back to top](#top)

In [28]:
y = pd.Period('2016')
m = pd.Period('2016-03')
d = pd.Period('2016-03-29')

y

Period('2016', 'A-DEC')

In [26]:
m

Period('2016-03', 'M')

In [27]:
d

Period('2016-03-29', 'D')

In [29]:
print(y+1)
print(m+1)
print(d+1)

2017
2016-04
2016-03-30

In [32]:
print('Year start time:',y.start_time)
print('Year end time:',y.end_time)
print('\nMonth start time:',m.start_time)
print('Month end time:',m.end_time)
print('\nDay start time:',d.start_time)
print('Day end time:',d.end_time)

Year start time: 2016-01-01 00:00:00
Year end time: 2016-12-31 23:59:59.999999999

Month start time: 2016-03-01 00:00:00
Month end time: 2016-03-31 23:59:59.999999999

Day start time: 2016-03-29 00:00:00
Day end time: 2016-03-29 23:59:59.999999999

In [38]:
q1= pd.Period('2017Q1')
print('Quarter 1 start time:',q1.start_time)
print('Quarter 1 end time:',q1.end_time)

q3= pd.Period('2017Q3')
print('\nQuarter 3 start time:',q3.start_time)
print('Quarter 3 end time:',q3.end_time)

Quarter 1 start time: 2017-01-01 00:00:00
Quarter 1 end time: 2017-03-31 23:59:59.999999999

Quarter 3 start time: 2017-07-01 00:00:00
Quarter 3 end time: 2017-09-30 23:59:59.999999999

In [42]:
print('Difference between date_range and period_range')

date = pd.date_range('2011', '2017', freq='q')
date

Difference between date_range and period_range

DatetimeIndex(['2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31',
               '2012-03-31', '2012-06-30', '2012-09-30', '2012-12-31',
               '2013-03-31', '2013-06-30', '2013-09-30', '2013-12-31',
               '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31',
               '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31',
               '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

In [44]:
date = pd.period_range('2011', periods=10, freq='q')
date

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [48]:
df = pd.DataFrame(np.random.randint(1,101,(10,2)),index=date,columns=['Random 1','Random 2'])
print(df)

        Random 1  Random 2
2011Q1        33        26
2011Q2        87        61
2011Q3        15        77
2011Q4        81        81
2012Q1        21         1
2012Q2         4        83
2012Q3         4        75
2012Q4        42         6
2013Q1        64        58
2013Q2        57        43

In [50]:
print(df['2011Q3':'2012Q4'])

        Random 1  Random 2
2011Q3        15        77
2011Q4        81        81
2012Q1        21         1
2012Q2         4        83
2012Q3         4        75
2012Q4        42         6

<a id='shifting'></a>
### Shifting
[Back to top](#top)

In [68]:
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/pandas/20_shift_lag/fb.csv',parse_dates=['Date'],index_col='Date')
df = df.rename(columns={'Price':'Sales'})
print(df)

             Sales
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [69]:
print('Adding Previous Day Sales:\n')
df['Yesterday Sale'] = df.Sales.shift(1)

print(df)

Adding Previous Day Sales:

             Sales  Yesterday Sale
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [76]:
print('Adding Sales Growth:\n')
df['Growth'] = df['Yesterday Sale'] - df['Sales']

df['Sales Growth'] = (df['Yesterday Sale'] - df['Sales'])/df['Yesterday Sale']*100

print(df)

Adding Sales Growth:

             Sales  Yesterday Sale  Growth  Sales Growth
Date
2017-08-15  171.00             NaN     NaN           NaN
2017-08-16  170.00          171.00    1.00      0.584795
2017-08-17  166.91          170.00    3.09      1.817647
2017-08-18  167.41          166.91   -0.50     -0.299563
2017-08-21  167.78          167.41   -0.37     -0.221014
2017-08-22  169.64          167.78   -1.86     -1.108595
2017-08-23  168.71          169.64    0.93      0.548220
2017-08-24  167.74          168.71    0.97      0.574951
2017-08-25  166.32          167.74    1.42      0.846548
2017-08-28  167.24          166.32   -0.92     -0.553151